<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Client Search | Client Stay</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class='container-fluid'>

            <!-- TOP NAVIGATION -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">CMS</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <!-- <li><a href='/'>Client Search<span class="sr-only">(current)</span></a></li> -->
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li class="dropdown">
                                <!-- ADMIN DROPDOWN -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/admin_meds_edit">Meds List</a></li>
                                    <li><a href="/admin_flags_edit">Flags List</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/admin_staff_edit">Staff List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <!-- QUERIES DROPDOWN -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Queries<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Intakes - Last Month</a></li>
                                    <li><a href="#">Intakes - 6 Months</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Database Dump</a></li>
                                </ul>
                            </li>
                            <li><a href="/docs">Documentation</a></li>
                            <li><a href="/credits">Credits</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="input-group">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <span class="input-group-btn">
                                        <button type='submit' class='btn btn-primary'><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>


            <!-- HEADER -->
            <div class='page-header'>
                <h1>Client Search</h1>
                <p>an open-source client management system</p>
            </div>

            <!-- MAIN CONTENT -->
            <h2>Add Stay Record</h2>

            <div class="row">

                <!-- CLIENT INFORMATION -->
                <div class="col-md-6">
                    <div class="container-fluid">
                        <h4>Basic</h4>
                        <p><strong>Name:</strong> {{ client.getFirstName}} {{ client.getLastName }} </p>
                        <p><strong>Age:</strong> {{ client.getDob }} </p>
                        <p><strong>Gender:</strong> {{ client.getGender }} </p>
                        <p><strong>Race:</strong> {{ client.getRace }} </p>
                        <p><strong>Ethnicity:</strong> {{ client.getEthnicity }} </p>
                    </div>

                    <div class="container-fluid">
                        <h4>Flags</h4>
                        <p><strong>Admit Status:</strong> {{ client.getAdmitStatus }}</p>
                        <p><strong>Last Assessed:</strong> {{ client.getLastAssessed }}</p>
                        {% set flags = client.getFlags %}
                        {% if flags is not empty %}
                            <p><strong>Flags:</strong></p>
                            <ul>
                            {% for flag in flags %}
                                <li>{{ flag.getFlagType }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="container-fluid">
                        <h4>Health Information</h4>
                        <p><strong>Allergies:</strong></p>
                            {% set allergies = client.getAllergies %}
                            {% if allergies is not empty %}
                            <ul>
                            {% for allergy in allergies %}
                                <li>{{ allergy.getAllergyType }}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                        <p>No known allergies</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Stay Information</h4>
                    <form action="/new_stay/{{ client.getId }}" method="post">
                    <div class="form-group">
                        <label for="intake-staff">Intake Staff</label>
                        <select type="text" id="intake-staff" name="intake-staff" class="form-control">
                            <option value=''></option>
                            {% for staff in intake_staff %}
                                <option value="{{ staff.getId }}">{{ staff.getName }}</option>
                            {% endfor %}
                        </select>

                        <label for="social-worker">Social Worker</label>
                        <select type="text" id="social-worker" name="social-worker" class="form-control">
                            <option value=''></option>
                            {% for worker in social_workers %}
                                <option value="{{ worker.getId }}">{{ worker.getName }}</option>
                            {% endfor %}
                        </select>

                        <label for="intake-date">Intake Date</label>
                        <input type="text" name="intake-date" placeholder="Date" class="form-control">

                        <label for="intake-time">Intake Time</label>
                        <input type="text" name="intake-time" placeholder="Time" class="form-control">

                        <label for="run-risk">Run/Risk</label>
                        <select class="form-control" name="run-risk">
                            <option value="" disabled selected>Please select</option>
                            <option value="0">Runaway</option>
                            <option value="1">At-Risk</option>
                        </select>
                    </div>

                    <h4>Health Information</h4>
                    <div class="form-group">
                        <label for="meds">Medication</label>
                        <select class="form-control" name="meds">
                            <option value="" disabled selected>Please select</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                        <!-- <input type="text" name="meds" placeholder="Medications, Y or N" class="form-control"> -->

                        <label for="allergies">Allergies</label>
                        <select class="form-control" name="allergies">
                            <option value="" disabled selected>Please select</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                        <!-- <input type="text" name="allergies" placeholder="Allergies, Y or N" class="form-control"> -->

                        <label for="lice">Lice</label>
                        <select class="form-control" name="lice">
                            <option value="" disabled selected>Please select</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <!-- <input type="text" name="lice" placeholder="Lice, Y or N" class="form-control"> -->
                    </div>

                    <button type="submit" formaction="/" class="btn btn-default">Cancel</button>
                    <button type="submit" name="button" class="btn btn-success">Update</button>
                </form>
            </div>
        </div>

        </div><!-- END DIV CONTAINER -->
    </body>
    <footer>
            <!-- unsure what will go here.  epicodus link, perhaps? github linl?  credits? -->
    </footer>
</html>
