<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Client Search | Main</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class='container-fluid'>

            <!-- TOP NAVIGATION -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">CMS</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <!-- <li><a href='/'>Client Search<span class="sr-only">(current)</span></a></li> -->
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li class="dropdown">
                                <!-- ADMIN DROPDOWN -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/admin_meds_edit">Meds List</a></li>
                                    <li><a href="/admin_flags_edit">Flags List</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/admin_staff_edit">Staff List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <!-- QUERIES DROPDOWN -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Queries<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Intakes - Last Month</a></li>
                                    <li><a href="#">Intakes - 6 Months</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Database Dump</a></li>
                                </ul>
                            </li>
                            <li><a href="/docs">Documentation</a></li>
                            <li><a href="/credits">Credits</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div id="main-search-content" class="container-fluid">
                <h1>Client Search</h1>
                <p>an open-source client management system</p>

                <!-- SEARCH -->
                <div class="row search">
                    <div id="main-search" class="container-fluid">

                        <div class='input-group'>
                            <!-- form action NOT specified yet -->
                            <form action='/search' method='post'>
                                <input type='text' name='search-field' id='search-field' class='form-control' placeholder="Search">
                                <span class="input-group-btn">
                                    <button type='submit' class='btn btn-primary'><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% if results %}

            <div id="results" class="jumbotron">
                <h2>Results</h2>
                {% if results != 'empty' %}
                    {% for client in results %}
                        <h4><a href='/client_edit/{{ client.getId }}'>{{ client.getLastName }}, {{ client.getFirstName }}, (DOB: {{ client.getDob }}), (ALIAS: {{ client.getAlias }})</a></h4>
                    {% endfor %}
                {% else %}
                    <h4>No client was found by that name.  Add this youth?</h4>
                    <form action="/add_new_client" method="get">
                        <button type="submit" class="btn btn-default">Add</button>
                    </form>
                {% endif %}
            </div>

            {% endif %}


        </div><!-- END DIV CONTAINER -->
    </body>
    <footer>
        <!-- unsure what will go here.  epicodus link, perhaps? github linl?  credits? -->
    </footer>
</html>
